<section id="m-login">
    <form method="post" novalidate="novalidate" action="#">
	    <h3>Login</h3>
      <div class="line-form">
  	    <label for="username">Username:</label>
  	    <input type="text" id="username" name="username" value="" tabindex="1" class="field" placeholder="Your username">
      </div>
	    <div class="line-form">
        <label for="password">Password:</label>
  	    <input type="password" id="password"  name="password" value="" tabindex="2" class="field" required="" placeholder="Your password">
      </div>
      <div class="line-form">
	     <input id="send_form" type="submit" value="Submit">
      </div>
	</form>
</section>