<h1>Logo</h1>


<div id="user"></div>	



<div id="m-main-nav">
    <nav>
        <i id="bt-expander"></i>
        <ul>
            <li class="is_active"><a href="#">Link 134</a></li>
            <li><a href="#contact">Link 2</a></li>
            <li><a href="#">Awkward Long link</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </ul>
    </nav>
</div>